/* varaibles */
:root {
  --error-color: #ff6666;
  --success-color: #66ff97;
  --primary-color: #7a6f62;
  --text-color: #ffffff;
  --secondary-color: #d19a69;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.quiz {
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.btn {
  border: 1px solid grey;
  color: var(--text-color);
}

.btn:hover {
  border: 1px solid lightgrey;
}

#next-btn {
  background-color: var(--secondary-color);
}

/* true or false */
.btn.correct {
  background-color: var(--success-color);
}

.btn.incorrect {
  background-color: var(--error-color);
}

#true-false-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* fill in the blank */
.dynamic-input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  outline: none;
}

.correct {
  border: 1px solid var(--success-color);
}

.incorrect {
  border: 1px solid var(--error-color);
}

.dynamic-input.correct {
  border-color: var(--success-color);
  color: var(--success-color);
}

.dynamic-input.incorrect {
  border-color: var(--error-color);
  color: var(--error-color);
}

.dynamic-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* feedback */
.feedback {
  font-size: 1.2em;
  margin-top: 10px;
  text-align: center;
  color: var(--text-color);
}
